<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2016 Schneider-Electric
-->
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
 
  <appSettings>
    <!--first Microsoft account credentials - provided as sample-->
    <add key="MicrosoftTranslatorAccountkey1" value ="se-unitytranslator"/>
    <add key="MicrosoftTranslatorAccountPwd1" value ="FRWWzrS22b5x0nrhnI2vljYenTbv+LhxMF4SAdKQaF4="/>
    <!--second alternative Microsoft account credentials - provided as sample-->
    <add key="MicrosoftTranslatorAccountkey2" value ="unitytranslator-se"/>
    <add key="MicrosoftTranslatorAccountPwd2" value ="L3McgaNVzU+RhmPN2pK5JlJjaaRGHyBqmPT3Z4REN0M="/>
    <!--third alternative Microsoft account credentials-->
    <add key="MicrosoftTranslatorAccountkey3" value =""/>
    <add key="MicrosoftTranslatorAccountPwd3" value =""/>
    <!--forth alternative Microsoft account credentials-->
    <add key="MicrosoftTranslatorAccountPwd4" value =""/>
    <add key="MicrosoftTranslatorAccountkey4" value =""/>
  </appSettings>

</configuration>
