<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchneiderElectric.UnityComments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SchneiderElectric.UnityComments.Properties.Settings>
            <setting name="MicrosoftTranslatorAccountkey1" serializeAs="String">
                <value>se-unitytranslator</value>
            </setting>
            <setting name="MicrosoftTranslatorAccountPwd1" serializeAs="String">
                <value>FRWWzrS22b5x0nrhnI2vljYenTbv+LhxMF4SAdKQaF4=</value>
            </setting>
            <setting name="MicrosoftTranslatorAccountkey2" serializeAs="String">
                <value>unitytranslator-se</value>
            </setting>
            <setting name="MicrosoftTranslatorAccountPwd2" serializeAs="String">
                <value>L3McgaNVzU+RhmPN2pK5JlJjaaRGHyBqmPT3Z4REN0M=</value>
            </setting>
            <setting name="MicrosoftTranslatorAccountkey3" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrosoftTranslatorAccountPwd3" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrosoftTranslatorAccountkey4" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrosoftTranslatorAccountPwd4" serializeAs="String">
                <value />
            </setting>
        </SchneiderElectric.UnityComments.Properties.Settings>
    </userSettings>
</configuration>